section {
  background-image: url('../../../assets/Mask Group 4.png') ;
  min-height: 50vh;
  background-size: cover;
  background-repeat: round;
}
h2 {
  color: #420000;
  font-family: 'Arial';
  text-align: center;
  font-weight: 800;
  margin: 1em;
}

/**Form Styling**/
select,
button {
  appearance: none;
  border: none;
  border-radius: 0px;
  padding: 1em;
  background: #fff;
}

.type {
  border-radius: 2.5em 0em 0em 2.5em;
  width: 300px;
  padding-left: 26px;
  outline: none;

}
button {
  border-radius: 0em 2.5em 2.5em 0em;
  background: #cc3030;
  color: #fff;
}

@media screen and (min-width: 1024px) {


  h2 {
    font-size: 2em;
  }

  /**Form Styling**/
  select,
  button {
    flex-basis: 33%;
    font-size: 1.3em;
    outline: none;
  }
}



