<header role="banner">
  <!--First Header with wine background-->
  <mat-toolbar>
    <div class="col-md-3" style="display: contents">
      <img alt="Delivery Van Logo" src="../../assets/food-van.png"/>
      <h1>Deliver</h1>
    </div>
    <nav class="col-md-6">
      <ul class="flex-row">
        <li><a [routerLink]="['/home']"> Home</a></li>
        <li><a [routerLink]="['/my-orders']">My Orders</a></li>

      </ul>
    </nav>
    <div class="col-md-3 text-right">
       <span class="fill-remaining-space">
    <button (click)="loadCartList()" class="shopping-cart" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon [matBadgeHidden]="cartList && cartList.length == 0" [matBadge]="cartList ? cartList.length : ''"
                matBadgeColor="warn" style="color: white">shopping_cart</mat-icon>

    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">

            <div *ngIf="!cartList"><span style="margin-left: 45%"> No Order</span></div>
      <div *ngIf="cartList">
          <mat-list>
            <div mat-subheader>My Pizza Order List </div>
            <mat-list-item>
              <div class="col-md-2" mat-card-image></div>
              <div class="col-md-2">Name</div>
              <div class="col-md-2">Count</div>
              <div class="col-md-2"> Price </div>
            </mat-list-item>
            <mat-list-item *ngFor="let item of  cartList">
              <img class="col-md-2" mat-card-image src="{{item.pizza.image}}"/>
              <div class="col-md-2">{{item.pizza.name}}</div>
              <div class="col-md-2">{{item.count}}</div>
              <div class="col-md-6"> {{item.pizza.price | currency:'USD'}}
                /{{convertCurrency(item.pizza.price) | currency:'EUR'}} </div>
            </mat-list-item>
            </mat-list>
      <mat-divider></mat-divider>
      <div class="row shopping-cart-footer">

        <div class="col-md-6">
        <label>Total Count:{{totalSum(cartList, 'count')}}</label>
        <label>Total price: {{totalSum(cartList, 'price') | currency:'USD'}}
          /{{ convertCurrency(totalCartPrice) | currency:'EUR'}}</label>
      </div>
      <div class="col-md-6 text-right">
        <button (click)="fillAddress=true" mat-raised-button>Fill Your Address</button>
      </div>
      </div>
      <mat-divider></mat-divider>
      <div class="fill-address" *ngIf="fillAddress">
        <mat-card style="margin: 15px;">
          <mat-card-header>Fill Your Address</mat-card-header>
          <form [formGroup]="addressFormGroup">
          <div class="row" style="justify-content: center">
            <mat-form-field class="col-md-10 offset-md-1">
              <input matInput placeholder="Name" formControlName="name" appearance="outline">
            </mat-form-field>
            <mat-form-field class="col-md-10 offset-md-1">
              <input matInput placeholder="Surname" formControlName="surname" appearance="outline">
            </mat-form-field>
            <mat-form-field class="col-md-10 offset-md-1">
              <input matInput placeholder="Phone Number" formControlName="phoneNumber" appearance="outline">
            </mat-form-field>
            <mat-form-field class="col-md-10 offset-md-1">
              <textarea matInput formControlName="address" placeholder="Address"
                        rows="5"></textarea>
            </mat-form-field>
                        <button mat-raised-button (click)="saveAddress()">Save</button>


          </div>
        </form>
        </mat-card>
      </div>
      <mat-divider *ngIf="fillAddress"></mat-divider>
        <mat-card *ngIf="fillAddress"><div class="row shopping-cart-footer">
          <mat-form-field class="col-md-12 offset-md-1">
              <textarea matInput #description placeholder="Type Description of Order"
                        rows="5"></textarea>
            </mat-form-field>
           <div class="col-md-12 offset-md-1" *ngIf="deliveryAmount">
        <label class="col-md-12">Delivery Amount:{{deliveryAmount}}</label>
        <label class="col-md-12">Total Amount of Order: {{totalCartPrice + deliveryAmount |  currency:'USD'}}
          /{{convertCurrency(totalCartPrice + deliveryAmount) | currency:'EUR'}}</label>
        </div>
          <div class="col-md-6 offset-md-6 text-right">
            <button (click)="submitOrder(description.value , totalCartPrice + deliveryAmount)" mat-raised-button>Submit Order</button>
          </div>
        </div></mat-card>
      </div>
    </mat-menu>
       </span>
    </div>
  </mat-toolbar>
</header>
