/* You can add global styles to this file, and also import other style files */

/* Default Styles from Angular template*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~angular2-toaster/toaster.css';

:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.main-center {
  justify-content: left;
}

.cross-center {
  align-items: center;
}
.main-end {
  justify-content: flex-end;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x:hidden }

.cdk-overlay-container {
  position: fixed;
  z-index: 1050 !important;
}
.mat-menu-panel {
  min-width: 112px;
  max-width: 500px!important;
  width: 500px!important;
}
.mat-divider {
  margin: 20px 0!important;
}
.mat-list-base .mat-list-item {
  font-size: 12px!important;
}
.toast-close-button {
  top: -1.3em !important;
}

.toast-info {
  background-color: deepskyblue !important;
}

.toast-success {
  background-color: #30cc30 !important;
}

.toast-error {
  background-color: #8a2601 !important;
}
