/* Section Before Recommended*/
.minor img {
  max-width: 2em;
  max-height: 2em;
}

.minor p {
  margin: 0em 1em;
  font-size: 0.8em;
}

.minor {
  width: 75%;
  margin: 2em auto;
  justify-content: space-evenly;
}

.resturant-container {
  width: 90%;
  margin: 2em auto;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  /* Section Before Recommended*/
  .minor {
    width: 75%;
    margin: 2em auto;
    justify-content: space-evenly;
  }
  .minor img {
    max-width: 3em;
    max-height: 3em;
  }
  .minor p {
    margin: 0em 2em;
    font-size: 0.8em;
  }
  .minor .flex-row {
    align-items: center;
  }

  /**** Recommended Resturant Section*****/

  .recommended {
    width: 80%;
    margin: 4em auto 1em auto;
  }
  .recommended h2 {
    flex-basis: 90%;
    text-align: center;
  }
  .recommended h4 {
    flex-basis: 20%;
    text-align: left;
  }
  .resturant-container {
    width: 70%;
    margin: 2em auto;
    flex-direction: row;
  }
}

img {
  width: 100%;
  padding-top: 20px;
}

.card {
  /* border:solid 1px #0ef32d; */
  margin: 1em
}

.card-detail {
  padding: 48px 2em;
  box-shadow: 0 1px 2px #fff, 1px 0 5px #888;
  height: auto;
  min-height: 400px;
}
.add-to-cart-button
{
  width: 100%;
}

.mat-mini-fab {
  width: 20px !important;
  height: 20px !important;
}

.material-icons {
  font-size: 20px !important;
}

.mat-form-field-flex {

  width: 50% !important;
}


.pizza-count {
  float: right;
  margin-top: 15px;
  border-radius: 30px;
  border: 1px solid rgba(204, 48, 48, 0.68) ;
  padding: 0 5px;
  text-align: center;
}
.pizza-count:focus
{
  border:none!important;
}
.mat-grid-tile .mat-grid-tile-header,.mat-grid-tile .mat-grid-tile-footer {

  background: rgba(204, 48, 48, 0.68);
}
.example-tree-invisible {
  display: none;
}
.mat-tree {
min-height: 200px;
}
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
