<section>
  <!--Recommended Pizza Menu-->

  <mat-grid-list cols="3" rowHeight="2:2">
    <mat-grid-tile *ngFor="let pizza of pizzaList">
      <div class="card">
        <mat-grid-tile-header>
          <h3>{{pizza.name}}</h3>
        </mat-grid-tile-header>
        <div class="card-detail">
          <img src="{{pizza.image}}"/>
          <p>
            <label style="padding-top: 15px;">{{pizza.price | currency:'USD'}}/{{convertCurrency(pizza.price) | currency:'EUR'}} </label>
            <input class="pizza-count" type="number" #pizzaCount min="0" max="10" step="1"/>

          </p>

        </div>
        <button (click)="addToCart(pizza , pizzaCount)"
                class="add-to-cart-button btn btn-light justify-content-center mat-grid-tile-footer">
          Add to cart
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
