<section>
  <!--Recommended Pizza Menu-->

  <mat-grid-list cols="3" rowHeight="2:2">
    <mat-grid-tile *ngFor="let pizza of pizzaList">
      <div class="card">
        <mat-grid-tile-header>
          <h3>{{pizza.name}}</h3>
        </mat-grid-tile-header>
        <div class="card-detail">
          <div style="width: 100%;text-align: center"><img style="width: 180px;height: 180px" src="{{pizza.image}}"/></div>
          <span style="font-size: 12px">{{pizza.description}}</span>
          <p>
            <label style="padding-top: 15px;">{{(pizza.price | currency:'USD').replace('$','$ ').replace('.',',')}}/{{(convertCurrency(pizza.price) | currency:'EUR').replace('€','€ ').replace('.',',')}} </label>
            <input class="pizza-count" type="number" #pizzaCount min="1" max="10" step="1"/>

          </p>

        </div>
        <button (click)="addToCart(pizza , pizzaCount)"
                class="add-to-cart-button btn btn-light justify-content-center mat-grid-tile-footer">
          Add to cart
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
