<section>
  <!--Recommended Pizza Menu-->

  <mat-grid-list cols="3" rowHeight="2:3">
    <mat-grid-tile *ngFor="let pizza of pizzaList">
      <div class="card">
        <mat-grid-tile-header>
          <h3>{{pizza.type}}</h3>
        </mat-grid-tile-header>
        <div class="card-detail">
          <img src="{{pizza.image}}"/>

          <p>
            {{pizza.name}}
          </p>
          <label>Price: {{pizza.priceInEuro}} (EUR)/{{pizza.priceInDollar}} ($)</label>

        </div>
        <mat-grid-tile-footer (click)="addToCart(pizza.id)"  class="btn btn-light justify-content-center">Add to Cart
<!--          <button type="button" class="btn btn-light">Add</button>-->
        </mat-grid-tile-footer>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
